<template>
  <div id="app1" class="hero">
    <h3 class="vue-title"><i style="padding: 3px"></i>{{messagetitle}}</h3>
    <div class="container mt-3 mt-sm-5">
      <div class="row justify-content-center">
        <div class="col-md-6">

          <form>
            <label for="username">username:</label>
            <input type="text" v-model="username" id="username">
            <br>
            <label for="pwd">password:</label>
            <input type="text" v-model="password" id="pwd">
            <br>
            <button class="btn" TYPE="submit" @click="login"> LOG IN </button>

          </form>

          <p class="typo__p">{{msg}}</p>
          <p class="typo__p">{{newmsg}}</p>
          <button class="btn" TYPE="submit" @click="goroom"> view rooms list</button>

        </div><!-- /col -->
      </div><!-- /row -->
    </div><!-- /container -->
  </div>

</template>

<script>
/* eslint-disable */
    import rser from "../services/roomservices";

    export default {
        name: "login",

        data() {
            return {
                props:['username'],
                messagetitle : "login !!",
                msg:" please input you username",
                newmsg:"",
                username : "",
                password : "",
                status: "",
                accessusername:"",
                account: {}
            }
        },
        methods : {
            goroom : function() {
                this.$router.params = this.accessusername
                this.$router.push('Rooms')
            },
            login : function () {
                this.account = {"username" : this.username, "password" : this.password}
                rser.logindetect(this.account)
                    .then(response =>{
                        this.msg = response.data

                        if(this.msg === "welcome") {
                            this.accessusername = this.username
                            this.newmsg = this.username
                        }
                    })
                    .catch(error => {
                    this.errors.push(error)
                    console.log(error)
                })
                //this.go()
            }
        }
    }
</script>

<style scoped>

  .btn{
    width: 300px;
    font-size: x-large;
    color: blue;
  }
</style>
