<template>
  <div id="app1" class="hero">
    <h3 class="vue-title"><i style="padding: 3px"></i>{{messagetitle}}</h3>
    <div class="container mt-3 mt-sm-5">
      <div class="row justify-content-center">
        <div class="col-md-6">

          <form>
            <label for="username">username:</label>
            <input type="text" v-model="username" id="username">
            <br>
            <label for="pwd">password:</label>
            <input type="text" v-model="password" id="pwd">
            <br>
            <label for="again">password:</label>
            <input type="text" v-model="again" id="again" @blur="verify">
            <br>
            <button @click="register">register</button>

          </form>
          <div>{{msg}}</div>
          <div>{{newmsg}}</div>

        </div><!-- /col -->
      </div><!-- /row -->
    </div><!-- /container -->
  </div>

</template>

<script>
/* eslint-disable */
    import rser from "../services/roomservices";

    export default {
        name: "login",

        data() {
            return {
                again:"",
                props:['username'],
                messagetitle : "register !!",
                msg:"please in put you account",
                newmsg:" ",
                username : "",
                password : "",
                status: "",
                accessusername:"",
                account: {}
            }
        },
        methods : {
            verify(){
                if(this.password!==this.again){
                    this.msg = 'two password is different'
                    return;
                }
            },
            register(){
                this.verify()
                this.account = {"username" : this.username, "password" : this.password}
                rser.register(this.account)
                    .then(response =>{
                        this.msg = response.data
                    })
                    .catch(error => {
                        this.errors.push(error)
                        console.log(error)
                    })
            }
        }
    }
</script>

<style scoped>

</style>
