<template>
  <div class="hero">
    <h3 class="vue-title"><i class="fa fa-list" style="padding: 3px"></i>{{messagetitle}}</h3>
    <div id="app1">
      <v-client-table :columns="columns" :data="rooms" :options="options">
        <a slot="edit" slot-scope="props" class="fa fa-edit" @click="editRoom(props.row.roomNumber)"></a>
        <a slot="remove" slot-scope="props" class="fa fa-trash-o" @click="deleteRoom(props.row.roomNumber)"></a>
      </v-client-table>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import roomservices from '../services/roomservices'
import Vue from 'vue'
import VueTables from 'vue-tables-2'

Vue.use(VueTables.ClientTable, {compileTemplates: true, filterByColumn: true})
export default {
  name: 'Rooms',
    data () {
      return {
        messagetitle: ' Rooms List ',
        rooms: [],
        props: ['_id'],
        errors: [],
        columns: ['_id', 'roomtype', 'price', 'roomNumber', 'available','edit','remove'],
        options: {
            perPage: 10,
            filterable: ['roomtype', 'price', 'roomNumber', 'available'],
            sortable: ['roomNumber'],
            headings: {
                _id: 'ID',
                roomtype: 'Room Type',
                price: 'Price',
                roomNumber: 'Room Number',
                available: 'Available'
            }
        }
      }
    },
    created () {
        this.loadRooms()
    },
    methods: {
        loadRooms: function () {
            roomservices.fetchRooms()
                .then(response => {
                    // JSON responses are automatically parsed.
                    this.rooms = response.data
                    console.log(this.rooms)
                })
                .catch(error => {
                    this.errors.push(error)
                    console.log(error)
                })
        },
        editRoom: function (roomNumber) {
            this.$router.params = roomNumber
            this.$router.push('edit')
        },
        deleteRoom: function (roomNumber) {
            roomservices.deleteRoom(roomNumber)
                .then(response => {
                    this.loadRooms()
                })
                .catch(error => {
                    this.errors.push(error)
                    console.log(error)
                })
        }
    }
}
</script>

<style scoped>
  #app1 {
    width: 60%;
    margin: 0 auto;
  }
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }
</style>
